.input-field {
    width: 100%;
    background-color: none;
    border: none;
    border-bottom: 1px solid var(--clr-primary-100);
}

.login-form {
    width: min(100%, 15em);
}

.login-form [class^="button"] {
    width: 100%;
}

.login-form .button-primary {
    margin-top: 1em;
}

/* Input interactions */

.input-field:focus {
    outline: none;
    border-bottom: 1px solid var(--clr-secondary-accent-100);
}

.input-field:invalid:not(:placeholder-shown) {
    border-bottom: 1px solid var(--clr-accent-100);
}

.input-unused {
    display: none;
}

.label-unused {
    display: none;
}

.input-field:valid + .label-unused {
    display: inline;
}

.input-field:valid + .label-unused + .input-unused {
    display: inline;
    animation-name: inputFieldPop;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}




@keyframes inputFieldPop {
    from {
        margin-left: 100%;
        width: 0%
    }

    50% {
        margin-left: -5%;
        width: 105%;
    }

    to {
        margin-left: 0;
        width: 100%;
    }
}

.input-field:invalid ~ input[type="submit"] {
    background: none;
    border: 2px solid;
    background-color: var(--clr-primary-60);
    cursor: default;
    pointer-events: none;
    animation-name: submitButtonFade;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

@keyframes submitButtonFade {
    from {
        scale: 1;
        opacity: 1;
    }

    50% {
        background-color: var(--clr-primary-60);
        scale: 0.95;
        opacity: 0.5;
    }

    to{
        scale: 1;
        opacity: 1;
    }
}

/* .login-form > :not(.input-field:invalid:not(:placeholder-shown) ~ input[type="submit"]) {
    animation-name: submitButtonPop;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

@keyframes submitButtonPop {
    from {
        scale: 1;
    }
    50% {
        scale: 1.05;
    }
    to {
        scale: 1;
    }
} */