:root {
    --header-height: 50px;
    --footer-height: 100px;
}
/* body {
    height: 2000px !important;
} */

#root {
    width: 100%;
    height: 100%;
}

.__page-wrap {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr minmax(min(1000px, 100vw), 1000px) 1fr;
    background-color: var(--clr-neutral-100);
}

.__page-header-wrap {
    position: fixed;
    top: 0;
    height: var(--header-height);
    width: 100%;
    z-index: 10;
}

.__page-content-wrap {
    grid-column: 2;
    padding-top: var(--header-height);
    padding-bottom: var(--footer-height);
    /* display: grid;
    grid-template-columns: 10em 1fr 10em; */
    background-color: var(--clr-neutral-60);
    /* box-shadow: 0 0 4px 1px var(--clr-primary-20); */
    z-index: 1;
}

[class^="__page-content-side"] {
    background-color: yellowgreen;
}
.__page-content-side-left {
    grid-column: 1;
    height: 100%;
}
.__page-content-side-right {
    grid-column: 3;
    height: 100%;
}
.__page-content-center {
    position: relative;
    grid-column: 2;
    height: 100%;
    transition: opacity 100ms ease-in;
}

.__page-footer-wrap {
    grid-column: 1/span 3;
    height: 100px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: aquamarine;
}