.container-flex-row-header {
  height: 100%;
  width: 100%;
  padding: 0 1em;
  background-color: var(--clr-neutral-100);
  border-bottom: 1px solid var(--clr-primary-60);  
}

.avatar-header {
  width: 2em;
  height: 2em;
  cursor: pointer;
}

.button-secondary-admin {
    margin-right: auto;
}

.username-header {
  margin-left: auto;
  cursor: pointer;
}